Repository ryu-qqq/Gateway: changes, and which Atlantis projects are due for each by the changed paths.
All: gateway-ecr-prod, gateway-ecs-cluster-prod, gateway-elasticache-prod, gateway-ecs-gateway-prod, gateway-cloudfront-prod, gateway-ecr-stage, gateway-ecs-cluster-stage, gateway-ecs-gateway-stage, gateway-cloudfront-stage

gateway-ecr-prod:
  dir: terraform/environments/prod/ecr
  workspace: default

gateway-ecs-cluster-prod:
  dir: terraform/environments/prod/ecs-cluster
  workspace: default

gateway-elasticache-prod:
  dir: terraform/environments/prod/elasticache
  workspace: default

gateway-ecs-gateway-prod:
  dir: terraform/environments/prod/ecs-gateway
  workspace: default

gateway-cloudfront-prod:
  dir: terraform/environments/prod/cloudfront
  workspace: default

gateway-ecr-stage:
  dir: terraform/environments/stage/ecr
  workspace: default

gateway-ecs-cluster-stage:
  dir: terraform/environments/stage/ecs-cluster
  workspace: default

gateway-ecs-gateway-stage:
  dir: terraform/environments/stage/ecs-gateway
  workspace: default

gateway-cloudfront-stage:
  dir: terraform/environments/stage/cloudfront
  workspace: default

fix: Gradle 모듈 경로 수정 (CI 통합 테스트 실패 해결) (#39)
  bootstrap/bootstrap-gateway/build.gradle
  integration-test/build.gradle
  settings.gradle
Due: none

fix: 누락된 authhub-client 소스 파일 및 id-client 모듈 추가
  adapter-out/client/authhub-client/README.md
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/adapter/AuthHubAuthAdapter.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/adapter/AuthHubTenantAdapter.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/config/AuthHubConfig.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/config/AuthHubProperties.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/exception/AuthHubClientException.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/mapper/AuthHubAuthMapper.java
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/mapper/AuthHubTenantMapper.java
  adapter-out/client/authhub-client/src/main/resources/authhub-client.yml
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfigTest.java
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubPropertiesTest.java
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/adapter/AuthHubAuthAdapterTest.java
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/adapter/AuthHubTenantAdapterTest.java
  adapter-out/client/id-client/build.gradle
  adapter-out/client/id-client/src/main/java/com/ryuqq/gateway/adapter/out/id/IdGeneratorAdapter.java
Due: none

fix: 게이트웨이 라우팅 설정 수정 - DNS/포트/public-paths 일괄 보정
  bootstrap/bootstrap-gateway/src/main/resources/application-local.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
Due: none

fix: 게이트웨이 라우팅 설정 수정 (DNS/포트/public-paths) (#41)
  bootstrap/bootstrap-gateway/src/main/resources/application-local.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
Due: none

fix: Stage SERVICE_TOKEN_SECRET SSM 시크릿 주입 추가
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

refactor: Gemini 리뷰 반영 - IAM 권한 범위 축소 및 SSM 경로 변수화
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

fix: Stage SERVICE_TOKEN_SECRET SSM 시크릿 주입 추가 (#43)
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

fix: PermissionFilter SUPER_ADMIN 역할 bypass 추가
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/PermissionFilter.java
Due: none

refactor: Gemini 리뷰 반영 - IAM 경로 축소 및 SUPER_ADMIN 상수화
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/PermissionFilter.java
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

fix: PermissionFilter SUPER_ADMIN 역할 bypass 추가 (#44)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/PermissionFilter.java
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

feat: Cookie 기반 요청 시 Authorization 헤더 다운스트림 전달
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilter.java
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilterUnitTest.java
  integration-test/src/test/java/com/ryuqq/gateway/integration/auth/TenantHeaderPropagationIntegrationTest.java
Due: none

feat: Cookie 기반 요청 시 Authorization 헤더 다운스트림 전달 (#45)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilter.java
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilterUnitTest.java
  integration-test/src/test/java/com/ryuqq/gateway/integration/auth/TenantHeaderPropagationIntegrationTest.java
Due: none

feat(cors): add OMS domains (stage-oms.set-of.com, oms.set-of.com) to CORS allowed origins
  terraform/environments/prod/cloudfront/main.tf
  terraform/environments/stage/cloudfront/main.tf
Due: gateway-cloudfront-prod, gateway-cloudfront-stage

feat(cors): add OMS domains (stage-oms.set-of.com, oms.set-of.com) to CORS allowed origins (#46)
  terraform/environments/prod/cloudfront/main.tf
  terraform/environments/stage/cloudfront/main.tf
Due: gateway-cloudfront-prod, gateway-cloudfront-stage

fix: Testcontainers 버전 업그레이드 (1.19.7 → 1.20.4) - Docker API 1.44+ 호환
  gradle/libs.versions.toml
Due: none

fix(cors): 환경별 OMS 도메인 격리 - prod/stage 크로스 도메인 제거
  terraform/environments/prod/cloudfront/main.tf
  terraform/environments/stage/cloudfront/main.tf
Due: gateway-cloudfront-prod, gateway-cloudfront-stage

fix: Testcontainers 버전 업그레이드 및 OMS CORS 도메인 추가 (#47)
  gradle/libs.versions.toml
  terraform/environments/prod/cloudfront/main.tf
  terraform/environments/stage/cloudfront/main.tf
Due: gateway-cloudfront-prod, gateway-cloudfront-stage

fix(ci): 배포 파이프라인에서 Testcontainers 의존 테스트 명시적 제외
  .github/workflows/build-and-deploy-stage.yml
Due: none

fix(ci): 배포 파이프라인 Testcontainers 테스트 제외 및 CORS 환경 격리 (#48)
  .github/workflows/build-and-deploy-stage.yml
Due: none

feat(stage): Sentry 활성화, Testcontainers CI 통합, 코드 포맷팅 정리
  .github/workflows/build-and-deploy.yml
  .github/workflows/ci.yml
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/PermissionFilter.java
  adapter-out/persistence-redis/build.gradle
  bootstrap/bootstrap-gateway/build.gradle
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
  docs/opensearch-ism-policy-request.md
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

feat(auth): 쿠키 토큰 추출 시 camelCase 쿠키명 지원 (accessToken, refreshToken)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilter.java
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/TokenRefreshFilter.java
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilterUnitTest.java
Due: none

fix(security): Sentry DSN 하드코딩 제거 - 환경변수 전용으로 변경
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
Due: none

feat(stage): Sentry 활성화 및 Testcontainers CI 통합 (#49)
  .github/workflows/build-and-deploy.yml
  .github/workflows/ci.yml
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilter.java
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/PermissionFilter.java
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/TokenRefreshFilter.java
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/filter/JwtAuthenticationFilterUnitTest.java
  adapter-out/persistence-redis/build.gradle
  bootstrap/bootstrap-gateway/build.gradle
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
  docs/opensearch-ism-policy-request.md
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

fix(deps): observability-spring-boot-starter 의존성 제거
  adapter-out/authhub-client/build.gradle
  adapter-out/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfig.java
  adapter-out/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfigTest.java
  adapter-out/client/authhub-client/build.gradle
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/config/AuthHubConfig.java
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfigTest.java
  application/build.gradle
  application/src/main/java/com/ryuqq/gateway/application/authentication/service/command/RefreshAccessTokenService.java
  application/src/main/java/com/ryuqq/gateway/application/authentication/service/command/ValidateJwtService.java
  application/src/main/java/com/ryuqq/gateway/application/authorization/service/command/ValidatePermissionService.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/service/command/CheckRateLimitService.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/service/command/RecordFailureService.java
  bootstrap/bootstrap-gateway/build.gradle
  gradle/libs.versions.toml
Due: none

fix: observability 의존성 제거 및 Sentry DSN 보안 수정 (#50)
  adapter-out/authhub-client/build.gradle
  adapter-out/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfig.java
  adapter-out/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfigTest.java
  adapter-out/client/authhub-client/build.gradle
  adapter-out/client/authhub-client/src/main/java/com/ryuqq/gateway/adapter/out/authhub/client/config/AuthHubConfig.java
  adapter-out/client/authhub-client/src/test/java/com/ryuqq/gateway/adapter/out/authhub/client/AuthHubConfigTest.java
  application/build.gradle
  application/src/main/java/com/ryuqq/gateway/application/authentication/service/command/RefreshAccessTokenService.java
  application/src/main/java/com/ryuqq/gateway/application/authentication/service/command/ValidateJwtService.java
  application/src/main/java/com/ryuqq/gateway/application/authorization/service/command/ValidatePermissionService.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/service/command/CheckRateLimitService.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/service/command/RecordFailureService.java
  bootstrap/bootstrap-gateway/build.gradle
  gradle/libs.versions.toml
Due: none

fix(error): ResponseStatusException(404 등)이 500으로 처리되는 버그 수정
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/error/JwtErrorHandler.java
Due: none

fix(error): ResponseStatusException(404 등)이 500으로 처리되는 버그 수정 (#51)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/error/JwtErrorHandler.java
Due: none

feat(rate-limit): IP 차단 환경별 분리 및 설정 외부화 (#52)
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/config/RateLimitProperties.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/internal/FailureRecordCoordinator.java
  application/src/main/java/com/ryuqq/gateway/application/ratelimit/internal/RateLimitCheckCoordinator.java
  application/src/test/java/com/ryuqq/gateway/application/ratelimit/internal/FailureRecordCoordinatorTest.java
  application/src/test/java/com/ryuqq/gateway/application/ratelimit/internal/RateLimitCheckCoordinatorTest.java
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
  local-dev/scripts/aws-port-forward-stage.sh
  local-dev/scripts/clear-blocked-ips-stage.sh
Due: none

fix(test): 통합 테스트 실패 수정 (TraceIdFilter, 라우팅, Observability)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/filter/TraceIdFilter.java
  integration-test/src/test/java/com/ryuqq/gateway/integration/observability/ObservabilityIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/gateway/integration/routing/GatewayHostRoutingIntegrationTest.java
Due: none

feat(monitoring): 환경별 모니터링 분리 및 Prod Auto Scaling 제한 (#53)
  docs/grafana/api_gateway_alb_monitoring.json
  docs/grafana/dashboard-gateway.json
  docs/monitoring/ECS_ADOT_MONITORING_SETUP.md
  otel-config.yaml
  terraform/environments/prod/ecs-gateway/main.tf
Due: gateway-ecs-gateway-prod

fix(terraform): stage cloudfront 중복 리소스 선언 제거
  terraform/environments/stage/cloudfront/main.tf
Due: gateway-cloudfront-stage

fix(ci): Terraform 워크플로우 경로를 환경별 분리 구조로 수정
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
Due: none

fix(iam): task role에 KMS Decrypt 권한 추가 (ADOT S3 config 읽기)
  terraform/environments/prod/ecs-gateway/main.tf
Due: gateway-ecs-gateway-prod

fix(iam): stage task role에 KMS Decrypt 권한 추가 (ADOT S3 config 읽기)
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

fix(iam): stage task role에 s3:ListBucket 권한 추가
  terraform/environments/stage/ecs-gateway/main.tf
Due: gateway-ecs-gateway-stage

feat(gateway): 글로벌 public 패턴 도입 및 서비스별 중복 제거
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/config/PublicPathsProperties.java
  adapter-in/gateway/src/main/resources/gateway.yml
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/config/PublicPathsPropertiesTest.java
  bootstrap/bootstrap-gateway/src/main/resources/application-local.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-test.yml
  integration-test/src/test/java/com/ryuqq/gateway/integration/auth/TokenRefreshIntegrationTest.java
Due: none

feat(gateway): 글로벌 public 패턴 도입 및 서비스별 중복 제거 (#53)
  adapter-in/gateway/src/main/java/com/ryuqq/gateway/adapter/in/gateway/config/PublicPathsProperties.java
  adapter-in/gateway/src/main/resources/gateway.yml
  adapter-in/gateway/src/test/java/com/ryuqq/gateway/adapter/in/gateway/config/PublicPathsPropertiesTest.java
  bootstrap/bootstrap-gateway/src/main/resources/application-local.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-prod.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-stage.yml
  bootstrap/bootstrap-gateway/src/main/resources/application-test.yml
  integration-test/src/test/java/com/ryuqq/gateway/integration/auth/TokenRefreshIntegrationTest.java
Due: none

Path conditions:
  gateway-ecr-prod: any of: terraform/environments/prod/ecr/**/*.tf, terraform/environments/prod/ecr/**/*.tfvars
  gateway-ecs-cluster-prod: any of: terraform/environments/prod/ecs-cluster/**/*.tf, terraform/environments/prod/ecs-cluster/**/*.tfvars
  gateway-elasticache-prod: any of: terraform/environments/prod/elasticache/**/*.tf, terraform/environments/prod/elasticache/**/*.tfvars
  gateway-ecs-gateway-prod: any of: terraform/environments/prod/ecs-gateway/**/*.tf, terraform/environments/prod/ecs-gateway/**/*.tfvars
  gateway-cloudfront-prod: any of: terraform/environments/prod/cloudfront/**/*.tf, terraform/environments/prod/cloudfront/**/*.tfvars
  gateway-ecr-stage: any of: terraform/environments/stage/ecr/**/*.tf, terraform/environments/stage/ecr/**/*.tfvars
  gateway-ecs-cluster-stage: any of: terraform/environments/stage/ecs-cluster/**/*.tf, terraform/environments/stage/ecs-cluster/**/*.tfvars
  gateway-ecs-gateway-stage: any of: terraform/environments/stage/ecs-gateway/**/*.tf, terraform/environments/stage/ecs-gateway/**/*.tfvars
  gateway-cloudfront-stage: any of: terraform/environments/stage/cloudfront/**/*.tf, terraform/environments/stage/cloudfront/**/*.tfvars
